@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --cor0: hsl(185, 75%, 39%);
  --cor1: hsl(229, 23%, 23%);
  --cor2: hsl(227, 10%, 46%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


main {
  background-color: var(--cor0);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/bg-pattern-top.svg), url(/bg-pattern-top.svg);
  background-position: -50% 200%, 150% -150%;
  background-repeat: no-repeat, no-repeat;
}


.card {
  background-color: white;
  width: 350px;
  height: 380px;
  border-radius: 20px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/bg-pattern-card.svg);
  background-size: 350px 140px;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  color: var(--cor2);
  border-bottom: 1px solid lightgray;
}

img {
  border-radius: 50%;
  margin-top: 94px;
  border: 5px solid white;
}

h1 {
  color: var(--cor1);
  font-size: 21px;
  padding: 10px 0px 5px 0px;
}

h1 span {
  color: var(--cor2);
  font-weight: 400;
}

.card-header p {
  padding-bottom: 20px;
}

.card-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.sub-card-main {
  text-align: center;
}

.text-top {
  font-weight: 700;
}

.text-bottom {
  color: var(--cor2);
  font-size: 11px;
  margin-top: 5px;
}

@media screen and (max-width:400px) {
  .container {
    width: 90%;
  }

  .card {
    width: 90%;
  }
}