@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --cor0: hsl(185, 75%, 39%);
  --cor1: hsl(229, 23%, 23%);
  --cor2: hsl(227, 10%, 46%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


main {
  background-color: var(--cor0);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/bg-pattern-top.svg), url(/public/bg-pattern-top.svg);
  background-position: -50% 200%, 150% -150%;
  background-repeat: no-repeat, no-repeat;
}


.card {
  background-color: white;
  width: 350px;
  height: 370px;
  border-radius: 20px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/bg-pattern-card.svg);
  background-size: 350px 140px;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
}

img {
  border-radius: 50%;
  margin-top: 94px;
  border: 5px solid white;
}

h1 {
  color: var(--cor1);
  font-size: 21px;
  padding-bottom: 10px;
}

h1 span {
  color: var(--cor2);
}